:host /deep/ .mat-step-icon-selected{
    background-color: white;
    color: black;
}

:host /deep/ .mat-step-icon-state-edit{
    background-color: white;
    color: black;
}

:host /deep/ .mat-step-label{
    color: black !important;
}

:host /deep/ .mat-step-label-active{
    color: black !important;
}

:host /deep/ .mat-step-label-selected{
    color: black !important;
}

/* :host /deep/ .mat-form-field-label{
    color: white !important;
}

:host /deep/ .mat-form-field-invalid{
    color: red !important;
}

:host /deep/ .mat-form-field-underline{
    background-color: white !important;
} */

.nextBtn{
    background-color: rgb(19, 60, 85);;
    color: white;
    margin: 0 0.1rem 0 0;
}

.readMore{
    border: none;
    border-color: rgb(19, 60, 85);
    margin: 0 0 0 0.1rem;
}

.butoane {
  float: right;
  margin: 1rem 0 0 0;
}

.param{
    margin: 0.5rem 0rem 0 0;
    max-width: 300px;
}

.paramLabel{
    margin: 0.1rem 0 0 0;
}

.tgl{
    position: relative;
    right: -10vw;
}

#content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

img {
    margin: 3rem 1rem 0 0;
    display: block;
    max-width: 690px;
    max-height: 260px;
    width: auto;
    height: auto;
}

.laststep{
    margin: 30vh 0 0 0;
}

.flow{
    margin: 1rem 6rem 0 6rem;
    background-color: white;
    color: black;
    z-index: -1;
}

.in-stepper{
    margin: 0 2rem 0 2rem;
}

/deep/ mat-spinner circle, .mat-spinner circle {
    stroke: white !important;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

@media only screen and (max-width: 880px) {
  #content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }


.flow{
  margin: 1rem 0 0 0;
  padding: 1rem;
  background-color: white;
  color: black;
  z-index: -1;
}
}
