@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400');

p {margin-bottom: 1.25em;}

div {width: 100vw;}

/deep/ body {
    background-color: rgb(19, 60, 85);
}

.welcome-header{
    margin-top: 3.5rem;
    color: white;
    z-index: 1;
}

#student-image{
    position: fixed;
    bottom: 1rem;
    width: 785px;
}

#gogu-button {
    background-color: white;
    width: 80px;
    height: 80px;
    margin-top: 1.2rem;
    z-index: 1;
}

#gogu-image {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 320px) {
    #student-image{
        bottom: -2.9rem;
    }
}
