<div class="flex flex-col">
  <div class="flex flex-row flex-horizontal-center">
    <h5 class="welcome-header"> Start using UBB Timetable right away. <br/> Sign in or register using your Google account. </h5>
  </div>
  <div class="flex flex-row flex-horizontal-center">
    <button mat-fab id="gogu-button" (click)="onLoginIntent()"> 
      <img id="gogu-image" src="assets/img/gogu.png"> 
    </button>
  </div>
  <div class="flex flex-row flex-horizontal-center">
    <img id="student-image" src="../../assets/img/loginImage.jpg"/>
  </div>
</div>
