<div class="flex flex-col" style="background-color: rgb(19, 60, 85);">
  <div class="flex flex-row flex-horizontal-center">
    <h5 class="welcome-header"> Use UBB Timetable right away. <br/> <span style="font-size: 19px; margin-left: -7px; color: lightgray"> Sign in or register using your Google account. </span> </h5>
  </div>
  <div class="flex flex-row flex-horizontal-center">
    <button mat-fab id="gogu-button" [disabled]="disableLogIn" (click)="onLoginIntent()">
      <img id="gogu-image" src="assets/img/gogu.png">
    </button>
  </div>
  <div class="flex flex-row flex-horizontal-center">
    <img id="student-image" src="../../assets/img/girl.png"/>
  </div>

  <div id="background"></div>

</div>
