@import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');

html {font-size: 18px;}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
    margin: 2rem 0 0.25rem;
   
    font-weight: 400;
    line-height: 1.15;
}

.white-color {
    color: white;
}

h1 {
    margin-top: 0;
    font-size: 2.488em;
}

h2 {font-size: 2.074em; text-align: center;}

h3 {font-size: 1.728em; text-align: center;}

h4 {font-size: 1.44em; text-align: center; margin-top: 15px;}

h5 {font-size: 1.2em; text-align: center;}

small, .text_small {font-size: 0.833em;} 

#continue-button {
    background-color: #47525E;
    min-width: 24px;
    min-height: 24px;
    width: 178px;
    height: 48px;
    margin-top: 40px;
    color: white;
}

#main {
    background-color: #ACDED5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.grey-color {
    color: #47525E;
}

img {
    width: 800px;
    height: 400px;
}

#imgDiv {
    margin-top: 50px;
    text-align: center;
}