.small-text {
    font-size: 12px;
    color: white;
}

.flex-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(19, 60, 85);
    padding: 1rem 0 1rem 0;
}

a {
    text-decoration: none;
    color: lightgray;
}