<div id="navyblue">
  <div id="weekNbutton" class="flex flex-row flex-horizontal-center">
    <div id="week">
      <strong>Odd</strong> week <strong>[7]</strong>
    </div>
    <button mat-flat-button color="warn" id="btnGenerate">Generate schedule</button>
  </div>
  <hr class="hline">
  <div class="sidenav">
    <div class="dropdown-btn">Activities filter
    </div>
    <div class="dropdown-container">
      <mat-radio-group class="flex flex-col container">
        <mat-radio-button value="1">Univerisity</mat-radio-button>
        <mat-radio-button value="2">Activities</mat-radio-button>
        <mat-radio-button value="3">All</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="dropdown-btn">Hour filter 
    </div>
    <div class="dropdown-container">
      <a>8pm</a>
      <a>9pm</a>
      <a>10pm</a>
    </div>
  </div>
</div>
