<div id="navyblue">
    <div id="weekNbutton" class="flex flex-row flex-horizontal-center">
      <div id="week">
        <strong>Odd</strong> week <strong>[7]</strong>
      </div>
      <button mat-flat-button color="warn" id="btnGenerate">Generate schedule</button>
    </div>
    <div class="flex flex-row flex-horizontal-center menu-and-calendar">
      <div class="scroll-container">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">University</div><mat-checkbox></mat-checkbox>
            </div>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">Activities</div><mat-checkbox></mat-checkbox>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                View settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">Activities</div><mat-checkbox></mat-checkbox>
            </div>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">Day</div><mat-checkbox></mat-checkbox>
            </div>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">Full week</div><mat-checkbox></mat-checkbox>
            </div>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">University week</div><mat-checkbox></mat-checkbox>
            </div>
            <div class="flex flex-row flex-horizontal-center sub-sidebar">
              <div class="filter">Month</div><mat-checkbox></mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <ejs-schedule style="margin-right: 5rem; border-radius: 5px;" [cssClass]="calendarPlaceHolder" [selectedDate]='selectedDate' [eventSettings]='eventSettings'></ejs-schedule>
    </div>
  </div>
