div {width: 100vw;}

#navyblue{
    background-color: rgb(19, 60, 85);
    margin: 0 0 0 0;
    max-height: 750px;
    height: 750px;
}

#week{
    color: white;
    margin: 2.4rem 0 0 5rem;
    font-size: 1.138em;
}

#btnGenerate{
    margin: 2rem 5rem 0 0;
    min-width: 170px;
    font-weight: 450;
    overflow-x: hidden !important;
}

.menu-and-calendar{
    margin: 0.5rem 0 0 0;
}

.scroll-container{
    margin: 0 0.7rem 0 5rem;
    width: 20vw;
    height: 450px;
    max-width: 215px;
    max-height: 450px;
}

.sub-sidebar{
    width: 100%;
}

.calendarPlaceHolder{
    background-color: white;
    margin-right: 5rem;
    width: 68rem;
    height: 550px;
    border-radius: 5px;
}

.e-table-container {
    width: 100%;
    height: 550px;
}

.filter{
    margin: 0 auto 0.5rem 0;
}