div {width: 100vw;}

#navyblue{
    background-color: rgb(19, 60, 85);
    margin: 0 0 0 0;
    max-height: 750px;
    height: 750px;
}

#export-btn {
    background-color: rgb(19, 60, 85);
    color: white;
}

#week{
    margin: 2.4rem 0 0 5rem;
    font-size: 1.138em;
}

#btnGenerate{
    margin: 0.5rem 5rem 0 0;
    min-width: 170px;
    width: 100%;
    font-weight: 450;
    overflow-x: hidden !important;
}

#btn-switch-week {
    margin: 0.5rem 5rem 0 0;
    min-width: 170px;
    width: 100%;
    font-weight: 450;
    overflow-x: hidden !important;
}

.menu-and-calendar{
    margin: 0.5rem 0 0 0;
}

.scroll-container{
    margin: 0 0.7rem 0 5rem;
    width: 20vw;
    height: 450px;
    max-width: 215px;
    max-height: 450px;
}

.sub-sidebar{
    width: 100%;
}

.calendarPlaceHolder{
    background-color: white;
    margin-right: 5rem;
    width: 68rem;
    height: 800px;
}

.activity-type-radio-button{
    margin-bottom: 7px;
}

.group-radio-button {
    margin-bottom: 7px;
}

.e-table-container {
    width: 100%;
    height: 749px;
}

.filter{
    margin: 0 auto 0.5rem 0;
}

.template-wrapper {
  background-color: red;
  height: 100%;
  width: 100%;
}

/deep/ .e-appointment.e-lib {
  background-color: rgb(19, 60, 85) !important;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(19, 60, 85) !important;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(19, 60, 85) !important;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(19, 60, 85) !important;
}
