@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400');

div {
    background-color: #ACDED5;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    padding-bottom: 20px;
    background-color: #ACDED5;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 840px;
    width: auto;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
    margin: 0.5rem 0 0.25rem;
    font-weight: 400;
    line-height: 1.15;
}

#dearHeader {
    margin-top: 50px;
    font-weight: 450;
}

.white-color {
    color: white;
}

h1 {
    margin-top: 0;
    font-size: 2.488em;
}

h2 {font-size: 2.074em; text-align: left; align-self: auto;}

h3 {font-size: 1.728em; text-align: left;}

h4 {font-size: 1.44em; text-align: left; padding-bottom: 1%;}

h5 {font-size: 1.2em; text-align: center;}

small, .text_small {font-size: 0.833em;} 


.grey-color {
    color: #47525E;
}

.mat-slide-toggle {
    margin-right: 5px;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #767E87;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #767E87;
}

button {
    width: 184px;
    height: 50px;
    min-width: 24px;
}

button:nth-of-type(1) {
    background-color: #47525E;
}

button:nth-of-type(2) {
    background-color: #ACDED5;
    color: #47525E;
    
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

#itemPreference {
    margin-top: 15px;
}

#preferences {
    /* float: left; */
    margin-top: 30px;
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: auto;
}

img {
    max-width: 100%;
}

.inline {
    display: inline-block;
}

#btnDiv {
    margin-top: 30px;
}

.flexer {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

@media screen and (min-width:600px) {
    .flexer {
        flex-wrap:nowrap;
    } 
}

.padded {
    margin-top: 50px;
}