#profile-image{
    width: 700px;
    height: auto;
    margin: 0 0 0 0;
}

.personal-info{
    width: 400px;
    margin: 0 1rem 0 1rem;
}

.optional-classes{
    margin: 0 1rem 0 1rem;
}

#btnCommit{
    background-color: rgb(70, 92, 70);
    color: white;
    margin: 0 0.1rem 0 0;
}

#btnLogout{
    border: 0.4px solid;
    border-color: rgb(70, 92, 70);
    color: rgb(70, 92, 70);
    margin: 0 0 0 0.1rem;
}

.info{
    margin: 0 0 0 0;
}

.topinfo{
    margin: 1.05rem 0 0 0;
}

:host /deep/ .mat-form-field-infix{
    border-top: 0 solid !important;
}

.vertical-stepper {
    margin-top: 2rem;
}

.commit-btn {
    margin-top: 1rem;
    margin-left: auto;
}

.accordion {
    margin-top: 20px;
    max-width: 600px;
    width: 80%;
    margin: auto;
}

.mat-accordion {
    margin-top: 1rem;
}

.bottom-gif {
    margin: auto;
    position: fixed;
    bottom: -1rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: -1;
}

.this-form {
    max-width: 80%;
    margin: auto;
}

/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: rgb(19, 60, 85) !important;
  border-color: rgb(19, 60, 85) !important;
}

/* /deep/ body {
    background-color: white;
} */
