<div class="flex flex-col" style="background-color: white; margin-top: 5px;">
  <div class="flex flex-row flex-horizontal-center">
    <h5 style="margin-bottom: 0; color: rgb(88, 88, 88)">Everybody is different. Customize your data.</h5>
  </div>

  <div class="flex flex-col flex-horizontal-center">

    <div class="flex flex-col flex-horizontal-center accordion">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <!-- <mat-panel-description>
              Type your group.
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <form class="flex flex-col this-form">
            <mat-form-field class="text-full-width info">
              <input type="text" placeholder="Group" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" [(ngModel)]="group">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Optional courses
            </mat-panel-title>
            <!-- <mat-panel-description>
              Select yours.
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <form class="flex flex-col this-form">
            <mat-form-field class="text-full-width topinfo">
              <mat-select placeholder="1st sem" [formControl]="optionals" [(ngModel)]="optional1" multiple>
                <mat-option *ngFor="let optional of optionalList1" [value]="optional">
                  {{optional}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="text-full-width">
              <mat-select placeholder="2nd sem" [formControl]="optionals" [(ngModel)]="optional2" multiple>
                <mat-option *ngFor="let optional of optionalList2" [value]="optional">
                  {{optional}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Additional information
            </mat-panel-title>
            <!-- <mat-panel-description>
              Decide what's important to you.
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <form class="flex flex-col this-form">
            <mat-checkbox class="flex flex-row flex-horizontal-center" [(ngModel)]="sport" name="sport">Sport class</mat-checkbox>
            <mat-checkbox class="flex flex-row flex-horizontal-center" [(ngModel)]="peda" name="peda">Pedagogy module</mat-checkbox>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="flex flex-row commit-btn">
        <button mat-flat-button id="btnCommit" (click)="_submit()" [disabled]="submitWasHitted">
          <mat-spinner *ngIf="submitWasHitted" style="margin: 5px 0 5px 0;" [diameter]="30"></mat-spinner>
          <span *ngIf="!submitWasHitted" style="margin: 5px 0 5px 0;"> Save </span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom-gif">
    <img id="profile-image" src="../../assets/img/profile.gif" />
  </div>
</div>
