#profile-image{
    width: 650px;
    height: auto;
    margin: 0 -10rem 0 1rem;
}

.personal-info{
    width: 400px;
    margin: 0 1rem 0 1rem;
}

.optional-classes{
    margin: 0 1rem 0 1rem;
}

#btnCommit{
    background-color: rgb(70, 92, 70);
    color: white;
    margin: 0 0.1rem 0 0;
}

#btnLogout{
    border: 0.4px solid;
    border-color: rgb(70, 92, 70);
    color: rgb(70, 92, 70);
    margin: 0 0 0 0.1rem;
}

.info{
    margin: 0 0 0 0;
}

.topinfo{
    margin: 1.05rem 0 0 0;
}

:host /deep/ .mat-form-field-infix{
    border-top: 0 solid !important;
}

.vertical-stepper {
    margin-top: 2rem;
}

.commit-btn {
    margin-top: 1rem;
    margin-left: auto;
}