/* Coolors Exported Palette - coolors.co/edeec9-133c55-added6-dd2d4a-91e5f6 */

/* RGB 
primary
color2: rgba(19, 60, 85, 1); 133C55
color3: rgba(173, 222, 214, 1); ADDED6

secondary
color1: rgba(237, 238, 201, 1); EDEEC9
color4: rgba(221, 45, 74, 1); DD2D4A
color5: rgba(145, 229, 246, 1); 91E5F6
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400|Poppins:400');

/* General CSS rules. */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {font-size: 18px;}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-vertical-center {
    align-items: center;
}

.flex-vertical-center-row {
    justify-content: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.15;
  text-align: center;
}

h1 {margin-top: 0; font-size: 3.052em;}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

@media only screen and (max-width: 400px) {
    html {font-size: 16px;}
    
    p {margin-bottom: 1.25em;}
    
    h1 {font-size: 1.383em;}
    
    h2 {font-size: 1.296em;}
    
    h3 {font-size: 1.215em;}
    
    h4 {font-size: 1.138em;}
    
    h5 {font-size: 1.067em;}
    
    small, .text_small {font-size: 0.937em;}
}
