<div id="select-div">
  <form class="textbox-form">
    <mat-form-field class="text-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
    <div class="div-btn-sel"><button mat-raised-button class="button-select">Set</button>
  </div>
</div>
<img src="assets/img/groupselect.png" class="fix"/>
<div id="background"></div>

