@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400');

html,body {
    height: 100%; /* Needed for container's min-height  */  
}

div {width: 100vw;}

.textbox-form{
    z-index: 1;
}

.select-group {
    margin-top: 2rem;
}

.button-select{
    margin: 0.59rem 0 0 0.5rem;
    width: auto;
    height: 43px;
    background-repeat:no-repeat;
    border: 1px solid;
}

:host /deep/ .mat-form-field-label{
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#student-image{
    position: fixed;
    /*bottom: 0.6rem;*/
    top: 39%;
    width: 745px;
}

#background {
    position: fixed;
    /*bottom: 0rem;*/
    top: 91%;
    width: 100%;
    height: 4rem;
    background-color: rgb(19, 60, 85);
    z-index: 1;
}

@media only screen and (max-width: 400px) {
    #student-image{
        bottom: 0rem;
    }
}

@media only screen and (max-width: 320px) {
    #student-image{
        bottom: -2.9rem;
    }
}