@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400');

div {width: 100%;}

.textbox-form{z-index: 1;}

.select-group {margin-top: 2rem;}

.button-select{
    margin: 0.59rem 0 0 0.5rem;
    width: auto;
    height: 43px;
    background-repeat:no-repeat;
    border: 1px solid;
}

:host /deep/ .mat-form-field-label{
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#student-image{
    position: fixed;
    bottom: 0.6rem;
    width: 745px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#background {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    height: 4rem;
    background-color: rgb(19, 60, 85);
    z-index: 1;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

@media only screen and (max-width: 400px) {
    #student-image{bottom: 0rem;}
}

@media only screen and (max-width: 320px) {
    #student-image{bottom: -2.9rem;}
}

@media only screen and (max-height: 510px) {
    #student-image{bottom: -7rem;}
    #background {bottom: -1rem;}
}

@media only screen and (max-height: 410px) {
    #student-image{bottom: -14rem;}
    #background {bottom: -2rem;}
}

@media only screen and (max-height: 330px) {
    #student-image{bottom: -18rem;}
    #background {bottom: -2rem;}
}

@media only screen and (max-height: 260px) {
    #student-image{bottom: -27rem;}
    #background {bottom: -2rem;}
}