<div style="background-color: rgba(142, 184, 229, 0.4); padding-bottom: 60vh" class="flex flex-center">

  <div class="flex flex-col flex-vertical-center select-group">
      <form class="textbox-form flex flex-col flex-vertical-center">
        <mat-form-field class="text-full-width">
          <input type="text" [(ngModel)]="selectedGroup" placeholder="Select your group"
          aria-label="Number" matInput [formControl]="optionals" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="getOptionals()">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="text-full-width topinfo">
          <mat-select placeholder="1st sem" [(ngModel)]="firstOptional" [formControl]="optionals" multiple>
            <mat-option *ngFor="let optional of firstSemesterOptList" [value]="optional">
              {{optional}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="text-full-width topinfo">
          <mat-select placeholder="2st sem" [(ngModel)]="secondOptional" [formControl]="optionals" multiple>
            <mat-option *ngFor="let optional of secondSemesterOptList" [value]="optional">
              {{optional}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button mat-raised-button class="button-select" (click)="set()" [disabled]="setWasHitted">
        <mat-spinner *ngIf="setWasHitted" style="margin: 5px 0 5px 0;" [diameter]="30"></mat-spinner>
        <span *ngIf="!setWasHitted" style="margin: 5px 0 5px 0;"> Set </span>
      </button>
  </div>


  <div class="flex flex-row flex-horizontal-center" style="z-index: -1">
    <img id="student-image" src="../../assets/img/groupselect.png"/>
  </div>

  <div id="background"></div>

</div>


